@model Application.DTOs.TaskDto

<div class="input-group input-group-lg">
    <form>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="taskDetails">
    </form>
        <button class="input-group-button ps-5 pe-5" id="inputGroup-sizing-lg" type="submit" onclick="Add()"> Add </button>
    
</div>